.tutorsList {
  background: white;
  padding: 16px;
}

.tutorsListItem {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8px;
  border: 2px solid black;
  padding: 10px;
  margin-bottom: 5px;
}

.address {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
